body { 
    margin:20px auto;
    max-width:900px;
    line-height:1.2em;
    font-size:1.75em;
    background-color:#1b1b1b;
    color:#fbf1c7;
    padding:0 10px;
    font-family:monospace;
    hyphens:auto;
}
header { 
    display:flex;
    justify-content:space-between;
    align-items:center;
    white-space:nowrap;
    font-variant:small-caps;
    margin-top: 0px;
    font-size: 1.1em;
}
nav { 
    display:inline-block;
}
nav li { 
    display:inline-block no;
    margin-right:20px;
}
a { color:#34c0e0;
    text-decoration:none;
}
a:hover { 
    color:#885a90;
}
h1,h2,h3 { 
    line-height:1.2;
    color:#fabd2f;
    font-size:1.1em;
}
h5.path {
    margin-top: 0;
    color:#fabd2f;
}
h1.title {
    font-size: 1.6em;
    margin-bottom: 0%;
}