body {
    font-family: 'Times New Roman';
    font-size: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background: #0c0d0e;
    font-style: bold;
    margin:40px auto;
    line-height:1.8;
    padding:0 10px;

}
.all {
    border: 3px solid #81a2be;
    background: #1b1f21;
    margin: 200px auto;
    text-align: center;
}
.foot {
    padding: 20px;
}
a {
    color: #81a2be;
}
a:hover {
    color: #8abeb7;
}
